.alignment-buttons-container {
    display: flex;
    flex-direction: row;

    .alignment-button {
        background-color: grey;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(77, 77, 77);
        }

        &.active {
            background-color: rgb(77, 77, 77);
        }
    }
}
